.search {
    display: flex;
    justify-content: center;
    text-align: center;
    margin:30px;
}

.searchIcon {
    width: 25px;
}

.searchButton {
    border: none;
    outline: none;
    height: 30px;
    width: 40px;

}

.searchButton:hover {
    background-color: whitesmoke;
}