.search {
    display: flex;
    justify-content: center;
    margin: 30px;


}
.search input{
    text-align: left;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: rgba(141,147,148, 0.15);
    border:none;
    width: 250px;
    line-height: 1.4em;


}

.searchButton {
    border: none;
    outline: none;
    height: 30px;
    width: 40px;

}

.searchButton:hover {
    background-color: whitesmoke;
}
