.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;

  & .image {
    width: 400px;
    display: block;
    margin: 0 auto;
  }

  & .notification {
    color: forestgreen;
  }

  & .modalProfileContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    & .choosePicture, .changeName {
      display: block;
      width: 100%;

    }
  }
}

@media screen and (max-width: 640px) {
  .container {
    h2{
      font-size: 24px;
      line-height: 1.5em;
    }
    .image {
      width: 300px;
    }
  }
}