.packs {
    width: 80%;
    display: flex;
    overflow: auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;



}
.wrapper {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center
}
.buttonsContainer {
    position: fixed;
    top: 36%;
    left: 1%;
    width: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.header {
    color: white;
    background: steelblue;
}

.rename {
    display: flex;
    justify-content: center;
    align-items: center;
}


.add {
    display: flex;
}
@media only screen and (min-width: 1200px) {
    .tableWrapper {

        justify-content: center;
    }

}