.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.wrapper {
    margin-top: 100px;
}

.container2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;


}

.link {
    font-weight: 500;
    letter-spacing: .1rem;
    text-decoration: none;
    color: #07242F;
    text-transform: uppercase;
    border-bottom: 1px solid #700A161A;
}

.error {
    font-size: 0.7em;
    color: red
}

/*button*/
button {

    display: inline-block;
    cursor: pointer;
    color: #29323c;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 15px;
    text-decoration: none;
    margin: 10px;
}

button:hover {
    background: white;
    color: black;

}

button:active {
    position: relative;
    top: 1px;
}

/*button ends*/

input {
    border: none;
    border-bottom: 2px solid rgb(7, 36, 47);
    font-size:1.1em;
    text-align: center;
     width:auto;

}

input:focus {
    border: none;
    border-bottom: 2px solid rgb(7, 36, 47);
    outline: none;

}
/*h2*/
h2 {
    font-size: 1.8em;
    font-family: 'Courier New';
}
/*h2 ends*/