.backButton {
  width: 100px;
  height: 100px;

  &:hover {
    .image > img {
      height: 60px;
      top: 17px;
      left: 25px;
    }
    .tip {
      display: block;
    }
  }

  .image {
    width: 100px;
    height: 100px;


    > img {
      height: 50px;
      position: absolute;
      top: 22px;
      left: 27px;
      transition: all 0.1s ease-out;

    }
  }

  .tip {
    position: absolute;
    top: -11px;
    left: 69px;
    color: tomato;
    display: none;

  }

}